<section class="todoapp">
    <ac-list-header>
        <ac-list-title title="Ng Todos"></ac-list-title>
        <ac-list-input (itemAdded)="addItem($event)" placeholder="What needs to be done?"></ac-list-input>
    </ac-list-header>

    <ac-list-main>
        <ac-list-toggle></ac-list-toggle>
        <ac-list-items [items]="items$ | async"></ac-list-items>
    </ac-list-main>

    <ac-list-footer>
        <ac-list-counter [count]="(items$ | async).length"></ac-list-counter>
        <ac-list-clear-btn *ngIf="completedItemsCount > 0" (clearCompleted)="list.removeDone()"></ac-list-clear-btn>
    </ac-list-footer>
</section>